name: ci

on:
  push:
    branches:
      - feature/**
      - master_staging
      - main

  pull_request:
    branches:
      - master_staging
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
          pip install build

      - name: Run tests
        run: pytest

      - name: Build package
        run: python -m build